<form action= "/names" method="post" >
  <label for="first_name"> Player 1 
    <input type="text" name="first_name">
  </label>
  <label for="second_name"> Player 2 
    <input type="text" name="second_name"> 
  </label>
  <input type="submit" value="go">
</form>